// COLORS
$primary-color: #02aab0;
$secondary-color:#ADEFD1FF;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #c6bebe;

$dark-blue-text: #3d3575; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 3.5rem;
